<h1>Post index</h1>
<div>
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
  <% if post.type %>
    <span class="label"><%= post.type.name %></span>
  <% end %>
  <p>
  <span class="muted"> submited <%= time_ago_in_words post.created_at %> ago </span>| 
  <%= link_to pluralize(post.comments.count, "comment"), post%> |
  <span data-toggle="collapse" data-target="#demo<%= post.id %>"><%= link_to "share", "#" %></span>
  <div id="demo<%= post.id %>" class="collapse">  
    <%= form_tag shares_path(post_id: post) do %>
      <div>
      <%= label_tag :email, "send this link to" %>
      <%= email_field_tag :email %>
    </div>
    <div>
      <%= label_tag :name, "Your name" %>
      <%= text_field_tag :name %>
    </div>
    <div>
      <%= label_tag :message %>
      <%= text_area_tag :message %>
    </div>
    <div>
      <%= submit_tag "Share" %>
    </div>
  <% end %>
  </div>
  </p>
  <hr />
<% end %>
</div>
<%= link_to "New post", new_post_path %>
