<% content_for(:title){"#{@post.title}"} %>


<h1><%= link_to @post.title, display_url_link(@post)%></h1>

<%= pluralize(@post.comments.count, "comment") %>
<div>
  
  <hr />
  <h4>Comment:</h4>

  <div>
    <%= form_for [@post, @comment] do |f| %>
        <%= f.hidden_field :user_id %>

      <%= f.text_area :content, rows: 3, placeholder: "input the comment here!" %><br />

      <%= f.submit %>
    <% end %>
  </div>
  
 <%= nested_comments @post.comments.arrange(order: :created_at) %>

</div>

<%= link_to "back to list", posts_path %>
